.tile, .tile.disabled:hover {
    /* style */
    width: 10rem;
    height: 7rem;
    margin: 0.5rem;
    background-color: white;
    cursor: initial;
    filter: none;

    /* position */
    position: relative;
    display: flex;
    justify-content: center;
}

.disabled, .tile.disabled:hover {
    filter: grayscale(100%);
}

.tile:hover {
    filter: brightness(0.75);
    margin: 0.6rem 0.4rem 0.4rem 0.6rem;
    cursor: pointer;
}

.text {
    position: absolute;
    bottom: 0;
    margin: 0;
}