.enclosingBodyModal {
    overflow: hidden;
}

.modalOverlay {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 250ms ease-in-out;
}

.modalOverlay, .modalOverlayClosed {
    opacity: 0;
}

.modalOverlayOpened {
    opacity: 1;
}

.modalContent {
    z-index: 2000;
    position: absolute;
    top: 50%;
    left: 50%;
    
    max-height: 95%;
    max-width: 75%;
    opacity: 1;
    transition: transform 250ms ease-in-out;
    background-color: white;
}

.modalContent, .modalContentClosed {
    transform: translate(-50%, -50%) scale(0.9);
}

.modalContentOpened {
    transform: translate(-50%, -50%) scale(1);
}

.head {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: ". title close";
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title > h1 {
    margin-bottom: 0;
}

.close {
    grid-area: close;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.close > button {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0;
    border: 0;
}

.body {
    padding: 2rem;
}

.separator {
    border: 0;
    background-color: #00BCD4;
    padding: 0.1rem;
    margin: 1rem 3rem;
}
